---
import { Image } from 'astro:assets';
import BAImage from '../assets/images/beian.png';
---

<footer class="footer p-5 bg-base-200 fixed bottom-0">
	<aside>
		<p class="text-xs">Copyright © 2024 - 卡卡的课后空间</p>
		<div class="flex justify-center text-xs">
			<a class="link link-hover mr-5" href="https://beian.miit.gov.cn/" target="_blank">
				鄂ICP备2024037037号-1
			</a>
			<Image class="w-4 h-4 mr-1" src={BAImage} alt="备案图标" loading="lazy" />
			<a
				class="link link-hover"
				href="https://beian.mps.gov.cn/#/query/webSearch?code=42018502007371"
				rel="noreferrer"
				target="_blank">鄂公网安备 42018502007371</a
			>
		</div>
	</aside>
</footer>
